move_down j
move_up k
next_item <C-j>
previous_item <C-k>

# Ctrl+d / Ctrl+u: 向下 / 向上滚动半屏 (对应 vim 半屏滚动)
screen_down <C-d>
screen_up <C-u>

# Ctrl+f / Ctrl+b: 向下 / 向上翻一整页 (对应 vim 整屏翻页)
next_page <C-f>
previous_page <C-b>


# gd: 跳转到定义 (对应 goto definition)
goto_definition gd

# gs: 预览定义 (对应 peek definition)
overview_definition gs

# K: 悬浮预览 (对应 hover)
overview_definition K

# y: 复制选中文本 (对应 vim yank)
copy y

open_document_embedded_from_current_path <F>
keyboard_select <S>
search </>
open_selected_url <C-u>
prev_state <C-o>
next_state <C-n>

[m]control_menu(down) <C-j>
[m]control_menu(up)   <C-k>

escape c

_yd_dict d

